.dropdown-menu {
  position: absolute; 
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(0px, 34px);
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.me-2 {
  margin-right: 0.5rem!important;
}